/*** uncss> filename: css/app.css ***/

@font-face {
  font-family: 'skyspark_icons';
  src: url("fonts/skyspark_icons.ttf?dc2yh4") format("truetype"), url("fonts/skyspark_icons.woff?dc2yh4") format("woff"), url("fonts/skyspark_icons.svg?dc2yh4#skyspark_icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'skyspark_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e601";
}

.icon-search-plus:before {
  content: "\f00e";
}

.icon-power-off:before {
  content: "\f011";
}

.icon-pencil:before {
  content: "\f040";
}

.icon-info-circle:before {
  content: "\f05a";
}

.icon-tasks:before {
  content: "\f0ae";
}

.icon-table:before {
  content: "\e607";
}

.icon-flash:before {
  content: "\f0e7";
}

.icon-angle-double-up:before {
  content: "\f102";
}

.icon-angle-up:before {
  content: "\e608";
}

.icon-angle-down:before {
  content: "\e609";
}

.icon-terminal:before {
  content: "\e60a";
}

.icon-ellipsis-h:before {
  content: "\e60b";
}

.icon-clone:before {
  content: "\f24d";
}

.icon-hourglass:before {
  content: "\f254";
}

.icon-file-text2:before {
  content: "\e90b";
}

.icon-pushpin:before {
  content: "\e60e";
}

.icon-cogs:before {
  content: "\e901";
}

.icon-stats-dots:before {
  content: "\e60f";
}

.icon-meter:before {
  content: "\e90c";
}

.icon-radio-checked2:before {
  content: "\e613";
}

.icon-new-tab:before {
  content: "\e903";
}

.icon-checkmark:before {
  content: "\e615";
}

.icon-checkmark2:before {
  content: "\e616";
}

.icon-minus2:before {
  content: "\e90a";
}

.icon-radio:before {
  content: "\e90e";
}

.icon-cord:before {
  content: "\e90f";
}

.icon-download:before {
  content: "\e906";
}

.icon-sun:before {
  content: "\e910";
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("fonts/SourceSansPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("fonts/SourceSansPro-Semibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("fonts/SourceSansPro-Semibold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.white {
  color: white;
}

.success-icon {
  color: #3BD369;
}

.idle-icon {
  color: #cecece;
}

.full-width {
  width: 100%;
  margin: auto 0;
  max-width: initial;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.vertical-space {
  padding-top: 0.9375rem;
}

.vertical-space:nth-of-type(1) {
  padding-top: 1.875rem;
}

footer {
  background-color: #e7e7e7;
  border-top: 1px solid #cecece;
  padding: .8rem 0;
  margin-top: 65px;
  color: #626262;
}

footer small {
  color: #888;
}

footer [class^="icon-"],
footer [class*=" icon-"] {
  font-size: 24px;
  color: #626262;
}

footer [class^="icon-"].disabled {
  color: #c8c8c8;
}

footer.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1000;
}

.normal-weight {
  font-weight: 400;
}

[class^="icon-"],
[class*=" icon-"] {
  margin-right: 5px;
}

.inline-list {
  list-style: outside none none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.inline-list > li {
  display: block;
  float: left;
  list-style: outside none none;
  margin-left: 1.2rem;
}

.title-area .title {
  color: #5CB7D1;
  font-weight: 700;
}

.title-area small {
  color: #e7e7e7;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  font-weight: 400;
}

[id^="output_"] img {
  border: 1px solid #e7e7e7;
  border-top: 0;
  padding-top: 10px;
}

[id^="output_"] .top-bar {
  background-color: #e7e7e7;
  margin-bottom: 0;
}

[id^="output_"] .top-bar .title {
  padding: 0 0.9375rem;
  color: #222;
  font-size: .85rem;
  font-weight: 300;
}

[id^="output_"] .top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #e7e7e7;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

[id^="output_"] .top-bar-section li:not(.has-form) a:hover:not(.button) {
  background-color: #b9b9b9;
  color: #222;
}

[id^="output_"] .top-bar-section li:not(.has-form) a.active {
  background-color: #5CB7D1;
  color: white;
  font-weight: 400;
}

[id^="output_"] .top-bar-section li:not(.has-form) a:hover.active {
  background-color: #5CB7D1;
  color: white;
  cursor: default;
}

[id^="output_"] .top-bar-section li:not(.has-form) a.close {
  background-color: #E41F00;
  color: white;
}

[id^="output_"] .top-bar-section li:not(.has-form) a:hover.close {
  background-color: #881300;
  color: white;
}

[id^="output_"] .top-bar-section ul li > a {
  color: #222;
}

[id^="output_"] .top-bar-section ul li.divider {
  border-color: #c8c8c8;
}

table {
  width: 100%;
}

table tr.selected {
  background-color: #a0d3e8;
}

td {
  vertical-align: top;
  font-weight: 300;
}

th {
  font-weight: 400;
}

th:first-child {
  width: 200px;
}

tr.selected {
  background-color: #a0d3e8;
}

.postfix-radius input[type="text"] {
  border-right: 0;
}

input[type=radio],
input[type=checkbox] {
  visibility: hidden;
}

input[type=radio] + label:before,
input[type=radio]:checked + label:before,
input[type=checkbox] + label:before,
input[type=checkbox]:checked + label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 8px;
}

input[type=radio] + label:before {
  background-color: white;
  border: 2px solid #c1c1c1;
  border-radius: 8px;
}

input[type=radio]:checked + label:before {
  background-color: #5CB7D1;
  border: 0;
  border-radius: 8px;
}

input[type=checkbox] + label:before {
  background-color: white;
  border: 2px solid #c1c1c1;
}

input[type=checkbox]:checked + label:before {
  background-color: #5CB7D1;
  border: 0;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  background: #f9f9f9;
  color: #222;
  cursor: auto;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

img {
  display: inline-block;
  vertical-align: middle;
}

select {
  width: 100%;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  background-color: #5CB7D1;
  border-color: #359ebc;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;
}

.button:hover,
.button:focus {
  background-color: #359ebc;
}

.button:hover,
.button:focus {
  color: #FFFFFF;
}

.button.secondary {
  background-color: #e7e7e7;
  border-color: #b9b9b9;
  color: #333333;
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: #b9b9b9;
}

.button.secondary:hover,
.button.secondary:focus {
  color: #333333;
}

.button.success {
  background-color: #3BD369;
  border-color: #28b051;
  color: #FFFFFF;
}

.button.success:hover,
.button.success:focus {
  background-color: #28b051;
}

.button.success:hover,
.button.success:focus {
  color: #FFFFFF;
}

.button.alert {
  background-color: #E41F00;
  border-color: #b61900;
  color: #FFFFFF;
}

.button.alert:hover,
.button.alert:focus {
  background-color: #b61900;
}

.button.alert:hover,
.button.alert:focus {
  color: #FFFFFF;
}

.button.warning {
  background-color: #FF9121;
  border-color: #e67400;
  color: #FFFFFF;
}

.button.warning:hover,
.button.warning:focus {
  background-color: #e67400;
}

.button.warning:hover,
.button.warning:focus {
  color: #FFFFFF;
}

.button.small {
  padding: 0.875rem 1.75rem 0.9375rem 1.75rem;
  font-size: 0.8125rem;
}

.button.tiny {
  padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
  font-size: 0.6875rem;
}

.button.radius {
  border-radius: 3px;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media only screen and (min-width: 40.0625em) {
  .button {
    display: inline-block;
  }
}

.button-group {
  list-style: none;
  margin: 0;
  left: 0;
}

.button-group:before,
.button-group:after {
  content: " ";
  display: table;
}

.button-group:after {
  clear: both;
}

.button-group > li {
  display: inline-block;
  margin: 0 -2px;
}

.button-group > li .button {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}

.button-group > li:first-child .button {
  border-left: 0;
}

.button-group.radius > * {
  display: inline-block;
  margin: 0 -2px;
}

.button-group.radius > * .button {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}

.button-group.radius > *:first-child .button {
  border-left: 0;
}

.button-group.radius > *,
.button-group.radius > * > a,
.button-group.radius > * > .button {
  border-radius: 0;
}

.button-group.radius > *:first-child,
.button-group.radius > *:first-child > a,
.button-group.radius > *:first-child > .button {
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.button-group.radius > *:last-child,
.button-group.radius > *:last-child > a,
.button-group.radius > *:last-child > .button {
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

/* Standard Forms */

form {
  margin: 0 0 1rem;
}

/* Using forms within rows, we need to set some defaults */

form .row .row {
  margin: 0 -0.5rem;
}

form .row .row .columns {
  padding: 0 0.5rem;
}

form .row .row.collapse {
  margin: 0;
}

form .row .row.collapse .columns {
  padding: 0;
}

form .row .row.collapse input {
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

/* Label Styles */

label {
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
  /* Styles for required inputs */
}

label.inline {
  margin: 0 0 1rem 0;
  padding: 0.5625rem 0;
}

/* Attach elements to the beginning or end of an input */

.postfix {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.875rem;
  height: 2.3125rem;
  line-height: 2.3125rem;
  overflow: visible;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
}

/* Adjust padding, alignment and radius if pre/post element is a button */

.postfix.button {
  border: none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
}

/* Separate prefix and postfix styles when on span or label so buttons keep their own */

/* We use this to get basic styling on all basic form elements */

input[type="text"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 0.875rem;
  height: 2.3125rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.15s linear, background 0.15s linear;
  -moz-transition: border-color 0.15s linear, background 0.15s linear;
  -ms-transition: border-color 0.15s linear, background 0.15s linear;
  -o-transition: border-color 0.15s linear, background 0.15s linear;
  transition: border-color 0.15s linear, background 0.15s linear;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background: #fafafa;
  border-color: #999999;
  outline: none;
}

input[type="text"]:disabled,
input[type="password"]:disabled {
  background-color: #DDDDDD;
  cursor: default;
}

/* Respect enforced amount of rows for textarea */

/* Not allow resize out of parent */

:-moz-placeholder {
  /* Firefox 18- */
  color: #666666;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #666666;
}

:-ms-input-placeholder {
  color: #666666;
}

/* Add height value for select elements to match text input height */

select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-color: #FAFAFA;
  border-radius: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
  background-position: 100% center;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  color: rgba(0, 0, 0, 0.75);
  font-family: inherit;
  font-size: 0.875rem;
  line-height: normal;
  padding: 0.5rem;
  border-radius: 0;
  height: 2.3125rem;
}

select::-ms-expand {
  display: none;
}

select:focus {
  background-color: #f3f3f3;
  border-color: #999999;
}

select:disabled {
  background-color: #DDDDDD;
  cursor: default;
}

/* Adjust margin for form elements below */

input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1rem 0;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline;
}

/* Normalize file input width */

/* HTML5 Number spinners settings */

/* We add basic fieldset styling */

/* Error Handling */

.row {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row.collapse > .columns {
  padding-left: 0;
  padding-right: 0;
}

.row .row {
  margin: 0 -rem-calc(30)/2;
  max-width: none;
  width: auto;
}

.row .row:before,
.row .row:after {
  content: " ";
  display: table;
}

.row .row:after {
  clear: both;
}

.row .row.collapse {
  margin: 0;
  max-width: none;
  width: auto;
}

.row .row.collapse:before,
.row .row.collapse:after {
  content: " ";
  display: table;
}

.row .row.collapse:after {
  clear: both;
}

.columns {
  padding-left: rem-calc(30)/2;
  padding-right: rem-calc(30)/2;
  width: 100%;
  float: left;
}

.columns + .columns:last-child {
  float: right;
}

.columns + .columns.end {
  float: left;
}

@media only screen {
  .columns {
    position: relative;
    padding-left: rem-calc(30)/2;
    padding-right: rem-calc(30)/2;
    float: left;
  }

  .small-1 {
    width: 8.3333333333%;
  }

  .small-2 {
    width: 16.6666666667%;
  }

  .small-3 {
    width: 25%;
  }

  .small-5 {
    width: 41.6666666667%;
  }

  .small-8 {
    width: 66.6666666667%;
  }

  .small-9 {
    width: 75%;
  }

  .small-10 {
    width: 83.3333333333%;
  }

  .small-11 {
    width: 91.6666666667%;
  }

  .small-12 {
    width: 100%;
  }

  .small-offset-3 {
    margin-left: 25% !important;
  }
}

@media only screen and (min-width: 40.0625em) {
  .columns {
    position: relative;
    padding-left: rem-calc(30)/2;
    padding-right: rem-calc(30)/2;
    float: left;
  }
}

@media only screen and (min-width: 64.0625em) {
  .columns {
    position: relative;
    padding-left: rem-calc(30)/2;
    padding-right: rem-calc(30)/2;
    float: left;
  }
}

.reveal-modal {
  border-radius: 3px;
  display: none;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1005;
  left: 0;
  background-color: #FFFFFF;
  padding: 1.875rem;
  border: solid 1px #666666;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 40em) {
  .reveal-modal {
    min-height: 100vh;
  }
}

.reveal-modal .columns {
  min-width: 0;
}

.reveal-modal > :first-child {
  margin-top: 0;
}

.reveal-modal > :last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 40.0625em) {
  .reveal-modal {
    left: 0;
    margin: 0 auto;
    max-width: 100%;
    right: 0;
    width: 80%;
  }
}

@media only screen and (min-width: 40.0625em) {
  .reveal-modal {
    top: 6.25rem;
  }
}

@media only screen and (min-width: 40.0625em) {
  .reveal-modal.tiny {
    left: 0;
    margin: 0 auto;
    max-width: 100%;
    right: 0;
    width: 30%;
  }
}

@media only screen and (min-width: 40.0625em) {
  .reveal-modal.small {
    left: 0;
    margin: 0 auto;
    max-width: 100%;
    right: 0;
    width: 40%;
  }
}

.reveal-modal .close-reveal-modal {
  color: #AAAAAA;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  position: absolute;
  top: 0.625rem;
  right: 1.375rem;
}

table {
  background: #FFFFFF;
  border: solid 1px #DDDDDD;
  margin-bottom: 1.25rem;
  table-layout: auto;
}

table thead {
  background: #EEEEEE;
}

table thead tr th {
  color: #222222;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.5rem 0.625rem 0.625rem;
}

table tr th,
table tr td {
  color: #222222;
  font-size: 0.875rem;
  padding: 0.5625rem 0.625rem;
  text-align: left;
}

table tr:nth-of-type(even) {
  background: #F5F5F5;
}

table thead tr th,
table tbody tr td,
table tr td {
  display: table-cell;
  line-height: 1.125rem;
}

/* Wrapped around .top-bar to contain to grid width */

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  left: 0;
}

.top-bar {
  background: #333333;
  height: 2.8125rem;
  line-height: 2.8125rem;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
}

.top-bar ul {
  list-style: none;
  margin-bottom: 0;
}

.top-bar .title-area {
  margin: 0;
  position: relative;
}

.top-bar .name {
  font-size: 16px;
  height: 2.8125rem;
  margin: 0;
}

.top-bar .name h1,
.top-bar .name h3,
.top-bar .name span {
  font-size: 1.0625rem;
  line-height: 2.8125rem;
  margin: 0;
}

.top-bar .name h1 a {
  color: #FFFFFF;
  display: block;
  font-weight: 300;
  padding: 0 0.9375rem;
  width: 75%;
}

.top-bar-section {
  left: 0;
  position: relative;
  width: auto;
  transition: left 300ms ease-out;
}

.top-bar-section ul {
  display: block;
  font-size: 16px;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

.top-bar-section .divider {
  border-top: solid 1px #1a1a1a;
  clear: both;
  height: 1px;
  width: 100%;
}

.top-bar-section ul li {
  background: #333333;
}

.top-bar-section ul li > a {
  color: #FFFFFF;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.8125rem;
  font-weight: 300;
  padding-left: 0.9375rem;
  padding: 12px 0 12px 0.9375rem;
  text-transform: none;
  width: 100%;
}

.top-bar-section ul li:hover:not(.has-form) > a {
  background-color: #555555;
  color: #FFFFFF;
  background: #222222;
}

.top-bar-section ul li.active > a {
  background: #5CB7D1;
  color: #FFFFFF;
}

.top-bar-section ul li.active > a:hover {
  background: #5CB7D1;
  color: #FFFFFF;
}

@media only screen and (min-width: 40.0625em) {
  .top-bar {
    background: #333333;
    overflow: visible;
  }

  .top-bar:before,
  .top-bar:after {
    content: " ";
    display: table;
  }

  .top-bar:after {
    clear: both;
  }

  .top-bar .title-area {
    float: left;
  }

  .top-bar .name h1 a {
    width: auto;
  }

  .top-bar-section {
    transition: none 0 0;
    left: 0 !important;
  }

  .top-bar-section ul {
    display: inline;
    height: auto !important;
    width: auto;
  }

  .top-bar-section ul li {
    float: left;
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    background: #333333;
    line-height: 2.8125rem;
    padding: 0 0.9375rem;
  }

  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #555555;
    background: #222222;
  }

  .top-bar-section li.active:not(.has-form) a:not(.button) {
    background: #5CB7D1;
    color: #FFFFFF;
    line-height: 2.8125rem;
    padding: 0 0.9375rem;
  }

  .top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background: #5CB7D1;
    color: #FFFFFF;
  }

  .top-bar-section > ul > .divider {
    border-right: solid 1px #4e4e4e;
    border-bottom: none;
    border-top: none;
    clear: none;
    height: 2.8125rem;
    width: 0;
  }

  .no-js .top-bar-section ul li:hover > a {
    background-color: #555555;
    background: #222222;
    color: #FFFFFF;
  }

  .no-js .top-bar-section ul li:active > a {
    background: #5CB7D1;
    color: #FFFFFF;
  }
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

/* Typography resets */

div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
p,
th,
td {
  margin: 0;
  padding: 0;
}

/* Default Link Styles */

a {
  color: #5CB7D1;
  line-height: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3ba8c8;
}

/* Default paragraph styles */

p {
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}

/* Default header styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  text-rendering: optimizeLegibility;
}

h1 small,
h2 small,
h4 small {
  color: #6f6f6f;
  font-size: 75%;
  line-height: 0;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.6875rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

hr {
  border: solid #DDDDDD;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 1.25rem 0 1.1875rem;
}

/* Helpful Typography Defaults */

strong {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 75%;
  line-height: inherit;
}

/* Lists */

ul {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.6;
  list-style-position: outside;
  margin-bottom: 1.25rem;
}

ul {
  margin-left: 1.1rem;
}

/* Unordered Lists */

/* Ordered Lists */

.no-bullet {
  list-style-type: none;
  margin-left: 0;
}

/* Definition Lists */

/* Abbreviations */

/* Blockquotes */

/* Microformats */

@media only screen and (min-width: 40.0625em) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.3125rem;
  }

  h3 {
    font-size: 1.6875rem;
  }

  h4 {
    font-size: 1.4375rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }
}

/*
       * Print styles.
       *
       * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
       * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
      */

@media print {
  * {
    background: transparent !important;
    color: #000000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

@page {
    margin: 0.34in;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* small displays */

/* medium displays */

/* large displays */

/* xlarge displays */

/* xxlarge displays */

/* Orientation targeting */

/* Specific visibility for tables */

@media only screen and (orientation: landscape) {
  /* Specific visibility for tables */
}

@media only screen and (orientation: portrait) {
  /* Specific visibility for tables */
}

/* Touch-enabled device targeting */

/* Specific visibility for tables */

/* Screen reader-specific classes */

/* Print visibility */

div.scroll-table {
  width: calc(100% - 203px);
  overflow-x: scroll;
  margin-left: 203px;
  overflow-y: visible;
}

div.scroll-table table {
  border-left: 0;
}

div.scroll-table td {
  white-space: nowrap;
}

div.scroll-table .long {
  letter-spacing: 1em;
}

div.scroll-table td:nth-of-type(1),
div.scroll-table th:nth-of-type(1) {
  position: absolute;
  width: 200px;
  left: 0.9375rem;
  top: auto;
  border: 1px solid white;
}

.even-row {
  background-color: #f5f5f5;
}

.odd-row {
  background-color: #fff;
}

/*# sourceMappingURL=app.css.map */
